<form action="" class="form-container" [formGroup]="recipeForm" (ngSubmit)="create(recipeForm.value)">
  <div class="main-info" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="28px">
    <div class="img-container">
      <div class="center">
        <mat-icon>add</mat-icon>
      </div>
      <img
        src="https://images.all-free-download.com/images/graphiclarge/healthy_meal_background_vegetables_eggs_bacon_icons_6836169.jpg"
        alt="Recipe image"
        class="recipe-img"
        title="Add image"
      />
    </div>
    <div fxFlex>
      <div fxLayout="column" fxLayoutAlign="start" class="info-container">
        <mat-form-field>
          <input matInput type="text" placeholder="Title" formControlName="title" #title class="title-input" />
          <button mat-button type="button" *ngIf="title.value" matSuffix mat-icon-button aria-label="Clear" (click)="title.value = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" #category class="category">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let category of recipeCategories" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Notes" formControlName="notes" #notes rows="2" class="notes"></textarea>
          <button mat-button type="button" *ngIf="notes.value" matSuffix mat-icon-button aria-label="Clear" (click)="notes.value = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- 
  <mat-list>
    <mat-list-item>
      <div fxLayout="row" fxLayoutAlign="start center" class="title-tbl">
        <span class="ingr-name">Ingredient</span>
        <span class="unit">Unit</span>
        <span class="quantity">Qty</span>
        <div class="fill"></div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="ingredientsData" *ngFor="let product of addedProcuts">
      <div fxLayout="row" fxLayoutAlign="start center" class="ingredient">
        <span class="ingr-name">{{ product.description }}</span>
        <mat-form-field class="unit">
          <mat-select>
          <mat-select formControlName="unit" #unit>
            <mat-option *ngFor="let unit of product.measures" [value]="unit.measure">{{ unit.measure }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="quantity">
          <input matInput type="number" min="0.1" step="0.1"/>
          <input matInput type="number" formControlName="quantity" #quantity/>
        </mat-form-field>
        <button mat-icon-button type="button" color="warn" class="itm-delete" (click)="triggerProductDelete(product)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <mat-list-item>
      <div fxLayout="row" fxLayoutAlign="start center" class="title-tbl">
        <span class="ingr-name">Subrecipe</span>
        <span class="unit">Unit</span>
        <span class="quantity">Qty</span>
        <div class="fill"></div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="ingredientsData" *ngFor="let recipe of addedRecipes">
      <div fxLayout="row" fxLayoutAlign="start center" class="ingredient">
        <span class="ingr-name">{{ recipe.title }}</span>
        <mat-form-field class="unit">
          <mat-select>
          <mat-select formControlName="unit" #unit>
            <mat-option [value]="recipe.measure">{{ recipe.measure }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="quantity">
          <input matInput type="number" min="0.1" step="0.1"/>
          <input matInput type="number" formControlName="quantity" #quantity/>
        </mat-form-field>
        <button mat-icon-button type="button" color="warn" class="itm-delete" (click)="triggerRecipeDelete(recipe)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list> -->

  <mat-list>
    <mat-list-item>
      <div fxLayout="row" fxLayoutAlign="start center" class="title-tbl">
        <span class="ingr-name">Ingredient</span>
        <span class="unit">Unit</span>
        <span class="quantity">Qty</span>
        <div class="fill"></div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div formArrayName="items" *ngFor="let item of recipeForm.get('items').controls; let i = index">
      <div [formGroupName]="i">
        <mat-list-item class="ingredientsData">
          <div fxLayout="row" fxLayoutAlign="start center" class="ingredient">
            <span class="ingr-name">{{ getIngrName(i) }}</span>
            <input type="text" hidden matInput formControlName="recipeItem" #recipeItem />
            <mat-form-field class="unit">
              <mat-select formControlName="unit" #unit>
                <div *ngIf="!isUnitArr(item.value.unit)">
                  <mat-option [value]="item.value.unit">{{ item.value.unit }}</mat-option>
                </div>
                <div *ngIf="isUnitArr(item.value.unit)">
                  <mat-option *ngFor="let unit of item.value.unit" [value]="unit.measure">{{ unit.measure }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="quantity">
              <input matInput type="number" min="0.1" step="0.1" formControlName="quantity" #quantity />
            </mat-form-field>
            <button mat-icon-button type="button" color="warn" class="itm-delete" (click)="triggerDelete(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-list>
  <button mat-raised-button color="primary">Save</button>
</form>
