.img-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.recipe-img {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.recipe-img:hover {
  opacity: 0.5;
}

.notes {
  resize: none;
}

.info-container {
  height: 200px;
}

.title-tbl {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 12px;
  background-color: whitesmoke;
}

.title-tbl span {
  display: inline-block;
  text-align: center;
}

.ingredient, .title-tbl {
  width: 100%;
}

.ingr-name {
  width: 60%;
  margin-right: 4%;
}

.ingredient .ingr-name {
padding-left: 8px;
}

.unit {
  width: 15%;
  margin-right: 4%;
}

.quantity {
  width: 10%;
  margin-right: 4%;
}

.fill {
  width: 40px;
  height: 40px;
}

.hidden {
  width: 0;
}

mat-list .mat-list-item {
  height: auto;
}