<form action="" class="form-container" [formGroup]="recipeForm" (ngSubmit)="saveRecipe(recipeForm.value)" [style.fontSize.px]="14">
  <div class="main-info" fxLayout="row" fxLayoutAlign="start center">
    <div class="img-container">
      <div class="center">
        <mat-icon>add</mat-icon>
      </div>
      <div class="recipe-img" (click)="openImgDialog()" fxFlex="125px" [ngStyle]="{'background-image':'url('+imageUrl+')'}">
      </div>
    </div>
    <div class="input-container" fxFlex>
      <div fxLayout="column" fxLayoutAlign="start stretch" class="info-container">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
          <mat-form-field class="title-input">
            <input matInput type="text" placeholder="Title" formControlName="title" #title/>
            <mat-error *ngIf="recipeForm.controls.title.hasError('minlength') || recipeForm.controls.title.hasError('required')">
              Title must be at least 5 characters
            </mat-error>
            <button mat-button type="button" *ngIf="title.value" matSuffix mat-icon-button aria-label="Clear" (click)="title.value = ''; recipeForm.controls.title.setErrors({'required': true});">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field  class="category">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" #category>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let category of recipeCategories" [value]="category">{{ category }}</mat-option>
            </mat-select>
            <mat-error *ngIf="recipeForm.controls.category.hasError('required')">
              You must select a category
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field>
          <textarea matInput placeholder="Notes" formControlName="notes" #notes rows="2" class="notes"></textarea>
          <button mat-button type="button" *ngIf="notes.value" matSuffix mat-icon-button aria-label="Clear" (click)="notes.value = ''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <mat-list class="recipe-items">
    <mat-list-item>
      <div fxLayout="row" fxLayoutAlign="start center" class="title-tbl">
        <span class="ingr-name">Ingredients</span>
        <span class="unit">Unit</span>
        <span class="quantity">Qty</span>
        <div class="fill"></div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <span *ngIf="ingredientsArr.value.length === 0" class="no-ingr">
        You haven't added any ingredients yet...
      </span>
    </mat-list-item>
    <div formArrayName="ingredients" *ngFor="let item of recipeForm.get('ingredients').controls; let i = index">
      <div [formGroupName]="i">
        <mat-list-item class="ingredientsData">
          <div fxLayout="row" fxLayoutAlign="start center" class="ingredient">
            <span class="ingr-name">{{ item.value.name }}</span>
            <mat-form-field class="unit">
              <mat-select formControlName="unit" #unit>
                <mat-option *ngFor="let unit of item.value.unitOptions" [value]="unit.measure">{{ unit.measure }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="quantity">
              <input matInput type="number" min="0.1" step="0.1" formControlName="quantity" #quantity />
              <mat-error *ngIf="item.controls.quantity.hasError('required')">
                Please add qty
              </mat-error>
            </mat-form-field>
            <button mat-icon-button type="button" color="warn" class="itm-delete" (click)="triggerDeleteProduct({index: i, item: 'product'})">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-list>
  <mat-list class="recipe-items">
    <mat-list-item>
      <div fxLayout="row" fxLayoutAlign="start center" class="title-tbl">
        <span class="ingr-name">Subrecipes</span>
        <span class="unit">Unit</span>
        <span class="quantity">Qty</span>
        <div class="fill"></div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <span *ngIf="subrecipesArr.value.length === 0" class="no-ingr">
        You haven't added any subrecipes yet...
      </span>
    </mat-list-item>
    <div formArrayName="subrecipes" *ngFor="let item of recipeForm.get('subrecipes').controls; let i = index">
      <div [formGroupName]="i">
        <mat-list-item class="ingredientsData">
          <div fxLayout="row" fxLayoutAlign="start center" class="subrecipe">
            <span class="ingr-name">{{ item.value.name }}</span>
            <mat-form-field class="unit">
              <mat-select formControlName="unit" #unit>
                <mat-option [value]="item.value.unit">{{ item.value.unit }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="quantity">
              <input matInput type="number" min="0.1" step="0.1" formControlName="quantity" #quantity />
              <mat-error *ngIf="item.controls.quantity.hasError('required')">
                Please add qty
              </mat-error>
            </mat-form-field>
            <button mat-icon-button type="button" color="warn" class="itm-delete" (click)="triggerDeleteRecipe({index: i, item: 'recipe'})">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-list>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button type="button" (click)="triggerCancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      class="save-btn"
      [disabled]="(ingredientsArr.value.length === 0 && subrecipesArr.value.length === 0) || !recipeForm.valid"
    >
      Save
    </button>
  </div>
</form>