mat-toolbar {
  position: relative;
  padding: 0;
}

.nav-btn {
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.logo {
  position: absolute;
  height: 40px;
  line-height: 40px;
  left: 50%;
  transform: translateX(-50%);
}

img {
  height: 40px;
}

a {
  font-weight: 600;
  font-size: 30px;
}
