.recipe-card {
  width: 282px;
}

.recipe-header {
  height: 200px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}

.recipe-card.mat-card {
  background-color: whitesmoke;
}

h3.title {
  color: rgba(0,0,0,0.87);
  padding-bottom: 8px;
  max-height: 32px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-transform: uppercase; */
  font-weight: 600;
  background-color: whitesmoke;
  transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 0.8s ease-in-out; 
  -moz-transition: max-height 0.8s ease-in-out; 
  -ms-transition: max-height 0.8s ease-in-out; 
  -o-transition: max-height 0.8s ease-in-out; 
}

h3.title:hover {
  max-height: 100%;
  overflow: initial;
  white-space: initial;
  text-overflow: initial;
}

.category {
  font-size: 10px;
  padding-left: 8px;
}

.chart {
  position: absolute;
  top: 135px;
  right: 0;
  width: 100%
}

.chart-bg {
  position: absolute;
  border-radius: 50%;
  display: block;
  height: 140px;
  width: 140px;
  top: 141px;
  left: 71px;
  overflow: hidden;
  background-color: whitesmoke;
}

.legend {
  padding-top: 89px;
}

.value {
  font-weight: 600;
}

.nutrient {
  font-size: 16px;
  padding-bottom: 4px;
}

.col {
  padding-top: 4px;
}

.col.fat {
  border-top: 3px solid #bb1654;
}

.col.protein {
  border-top: 3px solid #85c446;
}

.col.carbs {
  border-top: 3px solid #f7941e;
}

.value {
  padding: 4px 0;
}