table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  padding: 0;
  font-size: 14px;
}

th {
  height: 25px;
  text-align: left;
}

table,
th {
  border-bottom: 1px solid black;
}

th.txt-align {
  text-align: right;
  padding-right: 1rem;
}

th.txt-align2 {
  text-align: right;
}

.color {
  background-color: rgba(245, 245, 245, 0.5);
}

.bold {
  font-weight: 600;
}

.cal {
  font-size: 16px;
}
