<table class="nutrition-table">
  <tr>
    <th class="bold cal">
      Calories
    </th>
    <th class="txt-align cal"> {{nutrition.ENERC_KCAL.value}} {{nutrition.ENERC_KCAL.unit}}</th>
    <th colspan="4"></th>
  </tr>
  <tr class="color">
    <th class="bold">
      Protein
    <th class="txt-align">
      {{nutrition.PROCNT.value}} {{nutrition.PROCNT.unit}}
    </th>
    <th class="bold">
      Cholesterol
    </th>
    <th class="txt-align">
      {{nutrition.CHOLE.value}} {{nutrition.CHOLE.unit}}
    </th>
    <th class="bold">
      Sodium
    </th>
    <th class="txt-align2">
      {{nutrition.NA.value}} {{nutrition.NA.unit}}
    </th>
  </tr>
  <tr>
    <th class="bold">
      Total Fat
    </th>
    <th class="txt-align">
      {{nutrition.FAT.value}} {{nutrition.FAT.unit}}
    </th>
    <th class=" bold">
      Saturated Fat
    </th>
    <th class="txt-align">
      {{nutrition.FASAT.value}} {{nutrition.FASAT.unit}}
    </th>
    <th class=" bold">
      Trans Fat
    </th>
    <th class="txt-align2">
      {{nutrition.FATRN.value}} {{nutrition.FATRN.unit}}
    </th>
  </tr>
  <tr class="color">
    <th class="bold">
      Total Carbohydrate
    <th class="txt-align">
      {{nutrition.CHOCDF.value}} {{nutrition.CHOCDF.unit}}
    </th>
    <th class="bold">
      Dietary Fiber
    </th>
    <th class="txt-align">
      {{nutrition.FIBTG.value}} {{nutrition.FIBTG.unit}}
    </th>
    <th class="bold">
      Sugars
    </th>
    <th class="txt-align2">
      {{nutrition.SUGAR.value}} {{nutrition.SUGAR.unit}}
    </th>
  </tr>
  <tr>
    <th class="bold">
      Vitamin A
    </th>
    <th class="txt-align">
      {{nutrition.VITA_IU.value}} {{nutrition.VITA_IU.unit}}
    </th>
    <th class="bold">
      Vitamin C
    </th>
    <th class="txt-align">
      {{nutrition.VITC.value}} {{nutrition.VITC.unit}}
    </th>
    <th class="bold">
      Vitamin D
    </th>
    <th class="txt-align2">
      {{nutrition.VITD.value}} {{nutrition.VITD.unit}}
    </th>
  </tr>
  <tr class="color">
    <th class="bold">
      Vitamin E
    </th>
    <th class="txt-align">
      {{nutrition.TOCPHA.value}} {{nutrition.TOCPHA.unit}}
    </th>
    <th class="bold">
      Calcium
    </th>
    <th class="txt-align">
      {{nutrition.CA.value}} {{nutrition.CA.unit}}
    </th>
    <th class="bold">
      Iron
    </th>
    <th class="txt-align2">
      {{nutrition.FE.value}} {{nutrition.FE.unit}}
    </th>
  </tr>
</table>