.bold {
  font-weight: 700;
}

.nutrition-label {
	font-family: Arial, Helvetica, sans-serif ;
	width: 100%;
	border: solid black 1px;
	padding: 5px;
}

.nutrition-title {
	font-weight: bold;
	font-size: 1.5em;
}
.nutrition-weight, .nutrition-serving {
  font-size: 0.7em;
  padding: 0.5em 0 0.3em 0;
}

.nutrition-line {
	background-color: black;
	height: 5px;
	margin-top: 2px
}

.nutrition-line-big {
	height: 10px;
}

.nutrition-item {
	border-top: 1px solid black;
	font-size: 0.8em;
	display: flex;
  width: 100%;
  padding: 0.3em 0;
}

.nutrition-sub-item {
	border-top: 1px solid black;
	font-size: .8em;
  margin-left: 5%;
	display: flex;  
  width: 95%;
  padding: 0.3em 0;  
}

.nutrition-main, .nutrition-sub {
	width: 50%;
	text-align: left;
}

.nutrition-value, .nutrition-sub-value {
	width: 50%;
	text-align: right;
}
