cdk-virtual-scroll-viewport {
  height: calc(100vh - 302px);
}

cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 3px;
}
cdk-virtual-scroll-viewport::-webkit-scrollbar-track {
  border-left: 2px solid transparent;
  background: #dcdcdc;
  background-clip: content-box;
} 

cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
  border-right: 1px solid #dcdcdc;
  background-clip: content-box;
  background: #85c446;
  transition: .5s cubic-bezier(.35,0,.25,1);
}

.item {
  width: 100%;
}

mat-divider {
  margin: 0 28px 0 0;
}

mat-list {
margin-top: 10px;
}

mat-list .mat-list-item {
  height: auto;
  padding: 8px 0;
  font-size: 14px;
}

::ng-deep .mat-list.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0;
}

.add-btn mat-icon {
  color: #85c446;
}

.disabled mat-icon{
  color: #767779;
}