<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Products
    </ng-template>
    <app-items-search-details [inputPlaceholder]="productDescription" [selectLabel]="productSelectLabel" [options]="productFoodGroups" [foundItems]="foundItems"></app-items-search-details>
  </mat-tab>
  
  <mat-tab>
    <ng-template mat-tab-label>
      Recipes
    </ng-template>
    <app-items-search-details [inputPlaceholder]="recipeTitle" [selectLabel]="recipeSelectLabel" [options]="recipeCategories" [foundItems]="foundItems"></app-items-search-details>
  </mat-tab>
</mat-tab-group>
<app-create-search-result></app-create-search-result>