<div class="container" fxLayout="row" fxLayoutAlign="center stretch">
  <aside fxFlex="30" class="search">
    <app-items-search
      class="search-details"
      [recipeCategories]="recipeCategories"
      [productFoodGroups]="productFoodGroups"
      (searchItems)="findItems($event)"
      [foundProducts]="getFoundProducts()"
      [foundRecipes]="getFoundRecipes()"
      (add)="addToRecipe($event)"
    ></app-items-search>
  </aside>
  <mat-divider [vertical]="true"></mat-divider>
  <main fxFlex="70" class="recipe">
    <app-create-recipe-details [recipeCategories]="recipeCategories" [recipeToEdit]="recipeToEdit" [nutrition]="nutrition" [measure]="measure" (delete)="deleteItem($event)" (create)="createRecipe($event)" (update)="updateRecipe($event)"></app-create-recipe-details>
  </main>
</div>
