table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  padding: 0;
}

th {
  height: 25px;
  text-align: left;
}

table, th{
  border-bottom: 1px solid black;
}

.color {
  background-color: whitesmoke;
}

.bold {
  font-weight: 600;
}

th.txt-align {
  text-align: right;
  padding-right: 1rem;
}

th.txt-align2 {
  text-align: right;
}


