<section class="container" [class.mat-elevation-z3]="isActive">
  <div class="header-container" fxLayout="row">
    <div>
      <div class="img-recipe" [class.mat-elevation-z3]="isActive"
        [ngStyle]="{'background-image': 'url(' + recipe.imageUrl + ')'}">
      </div>
    </div>
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" class="title-section">
        <div fxFlex="85">
          <div>
            <h2 class="title">{{ recipe.title }} <span class="measure">({{ recipe.measure }})</span></h2>
          </div>
          <p class="created">Created on: {{ recipe.created | date: 'MMM d, y'}}</p>
          <span class="category">{{ recipe.category }}
            <span class="white-triangle"></span>
          </span>
        </div>
        <div fxFlex="15" fxLayout="row" fxLayoutAlign="end start" class="button-container">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item color="primary" (click)="updateRecipe()" [routerLink]="['/recipes/create-edit']">
              <mat-icon class="button">edit</mat-icon>
              <span>Edit</span>
            </a>
            <a mat-menu-item color="warn" (click)="deleteRecipe()" [routerLink]="['/recipes']">
              <mat-icon class="button">delete</mat-icon>
              <span>Delete</span>
            </a>
          </mat-menu>
        </div>
      </div>
      <div class="notes rounded" fxFlexAlign="end">
        <p class="notes-txt">Notes:</p>
        <p class="notes-p" *ngIf="recipe.notes.length > 0">{{recipe.notes}}</p>
        <p class="notes-p" *ngIf="recipe.notes.length === 0">You don't have any notes yet...</p>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <app-nutrition class="all-nutrition" [nutrition]="totalRecipeNutrition" [measure]="recipe.measure"></app-nutrition>
    <div class="ingr-section" fxFlex>
      <mat-accordion multi="true" *ngIf="recipe.ingredients.length > 0">
        <mat-expansion-panel class="title-tbl" hideToggle="true" expandedHeight="48px">
          <mat-expansion-panel-header class="ingr-tbl">
            <mat-panel-title class="ingr-name">
              <p>Ingredients</p>
            </mat-panel-title>
            <mat-panel-description>
              <p class="unit">unit</p>
              <p class="quantity">qty</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel *ngFor="let ingredient of recipe.ingredients;" #exp>
          <mat-expansion-panel-header class="ingr-tbl">
            <mat-panel-title class="title-ingr">
              <p [ngClass]="{'panelOpen': exp._expanded}">{{ ingredient.product }} ({{ calcIngrMeasure(ingredient) }})
              </p>
            </mat-panel-title>
            <mat-panel-description>
              <p class="unit-ingr">{{ ingredient.unit }}</p>
              <p class="quantity-ingr">{{ ingredient.quantity }}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-nutrition-table [nutrition]="calcIngrNutrition(ingredient)" [measure]="calcIngrMeasure(ingredient)">
          </app-nutrition-table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion multi="true" *ngIf="recipe.subrecipes.length > 0">
        <mat-expansion-panel class="title-tbl subrecipes" hideToggle="true">
          <mat-expansion-panel-header class="ingr-tbl">
            <mat-panel-title class="ingr-name">
              <p>Subrecipes</p>
            </mat-panel-title>
            <mat-panel-description>
              <p class="unit">unit</p>
              <p class="quantity">qty</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel *ngFor="let subrecipe of recipe.subrecipes" #exp>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p [ngClass]="{'panelOpen': exp._expanded}">{{ subrecipe.recipe }} ({{ calcSubrecMeasure(subrecipe) }})
              </p>
            </mat-panel-title>
            <mat-panel-description>
              <p class="unit-ingr">{{ subrecipe.unit }}</p>
              <p class="quantity-ingr">{{ subrecipe.quantity }}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-nutrition-table [nutrition]="calcSubrecNutrition(subrecipe)" [measure]="calcSubrecMeasure(subrecipe)">
          </app-nutrition-table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>