* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

.toast-container .toast-success {
	font-family: "Montserrat", sans-serif;
}
.toast-container .toast-error {
	font-family: "Montserrat", sans-serif;
}

html {
	scroll-behavior: smooth;
}

html, body, material-app, mat-sidenav-container {
  height: 100%;
	width: 100%;
	color: rgba(0, 0, 0, 0.87);
}

body .material-icons {
	color: #767779;
	font-family: 'Material Icons';
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a {
	cursor: pointer;
}

a:active, a:visited, a:link {
  color: #767779;
}
