@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: '"Montserrat", sans-serif',
);

@include mat-core($custom-typography);
@include mat-toolbar-typography($custom-typography);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);

$custom-primay-color: (
  50 : #f0f8e9,
  100 : #daedc8,
  200 : #c2e2a3,
  300 : #aad67e,
  400 : #97cd62,
  500 : #85c446,
  600 : #7dbe3f,
  700 : #72b637,
  800 : #68af2f,
  900 : #55a220,
  A100 : #e9ffdc,
  A200 : #caffa9,
  A400 : #aaff76,
  A700 : #9bff5d,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$custom-theme-primary: mat-palette($custom-primay-color);
$custom-theme-warn: mat-palette($mat-deep-orange);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-warn);

@include angular-material-theme($custom-theme);

  h1, h2, h3, h4, h5, h6, mat-dialog-container {
    font-family: "Montserrat", sans-serif;
  }
