<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="30px grid">
    <app-single-recipe
      *ngFor="let recipe of allRecipes; let i = index"
      [recipe]="recipe"
      class="recipe-card"
      [nutrition]="allNutrition[i]"
      (filter)="filterByCategory($event)"
      (view)="viewDetails($event)"
      (edit)="editRecipe($event)"
      (delete)="deleteRecipe($event)"
    ></app-single-recipe>
  </div>
  <mat-paginator [length]="totalRecipes" [pageSize]="limit" [pageSizeOptions]="itemsPerPage" (page)="changePagination($event)"> </mat-paginator>
</div>
