.container {
  padding-top: 16px;
}

.paginator {
  margin: 16px 0;
}

.select-order{
  margin-bottom: 24px;
}

.clear-search {
  position: absolute;
  top: 69px;
  left: 5%;
  padding: 0 8px;
}

.oreder-by {
  width: 200px;
  margin-left: 16px;
}