<div class="container">
  <div class="error-500">
      Ooops... we messed up &bull; Go back
      <button mat-icon-button [class.mat-elevation-z1]="true">
        <mat-icon (click)="goBack()">reply</mat-icon>
      </button>
  </div>
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</div>

