<div class="nutrition-label">
  <div class="nutrition-title">Nutrition Facts</div>
  <div class="nutrition-weight">Weight {{ measure }}</div>
  <div class="nutrition-line nutrition-line-big"></div>
  <div class="nutrition-serving">Amount Per Serving</div>
  <div class="nutrition-item">
    <span class="nutrition-main bold">Calories</span>
    <span class="nutrition-value bold">{{ nutrition.ENERC_KCAL.value }} {{ nutrition.ENERC_KCAL.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main bold">Total Fat</span>
    <span class="nutrition-value bold">{{ nutrition.FAT.value }} {{ nutrition.FAT.unit }}</span>
  </div>
  <div class="nutrition-sub-item">
    <span class="nutrition-sub">Saturated Fat</span>
    <span class="nutrition-sub-value">{{ nutrition.FASAT.value }} {{ nutrition.FASAT.unit }}</span>
  </div>
  <div class="nutrition-sub-item">
    <span class="nutrition-sub">Trans Fat</span>
    <span class="nutrition-sub-value">{{ nutrition.FATRN.value }} {{ nutrition.FATRN.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main bold">Cholesterol</span>
    <span class="nutrition-value bold">{{ nutrition.CHOLE.value }} {{ nutrition.CHOLE.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main bold">Sodium</span>
    <span class="nutrition-value bold">{{ nutrition.NA.value }} {{ nutrition.NA.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main bold">Carbohydrates</span>
    <span class="nutrition-value bold">{{ nutrition.CHOCDF.value }} {{ nutrition.CHOCDF.unit }}</span>
  </div>
  <div class="nutrition-sub-item">
    <span class="nutrition-sub">Dietary Fiber</span>
    <span class="nutrition-sub-value">{{ nutrition.FIBTG.value }} {{ nutrition.FIBTG.unit }}</span>
  </div>
  <div class="nutrition-sub-item">
    <span class="nutrition-sub">Sugars</span>
    <span class="nutrition-sub-value">{{ nutrition.SUGAR.value }} {{ nutrition.SUGAR.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main bold">Protein</span>
    <span class="nutrition-value bold">{{ nutrition.PROCNT.value }} {{ nutrition.PROCNT.unit }}</span>
  </div>
  <div class="nutrition-line nutrition-line-big"></div>
  <div class="nutrition-item">
    <span class="nutrition-main">Vitamin A</span>
    <span class="nutrition-value">{{ nutrition.VITA_IU.value }} {{ nutrition.VITA_IU.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main">Vitamin C</span>
    <span class="nutrition-value">{{ nutrition.VITC.value }} {{ nutrition.VITC.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main">Vitamin D</span>
    <span class="nutrition-value">{{ nutrition.VITD.value }} {{ nutrition.VITD.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main">Vitamin E</span>
    <span class="nutrition-value">{{ nutrition.TOCPHA.value }} {{ nutrition.TOCPHA.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main">Calcium</span>
    <span class="nutrition-value">{{ nutrition.CA.value }} {{ nutrition.CA.unit }}</span>
  </div>
  <div class="nutrition-item">
    <span class="nutrition-main">Iron</span>
    <span class="nutrition-value">{{ nutrition.FE.value }} {{ nutrition.FE.unit }}</span>
  </div>
</div>
